body {
  font-family: Sans-serif;
  font-size: 11px;
}

.slice {
  cursor: pointer;
}

.slice .main-arc {
  stroke: #fff;
  stroke-width: 1px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  background: #ffffff;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 12pt;
}
