body {
  background-color: #e6e6e6;
}

p {
  text-indent: 40px;
}

/*Add .axis path and .axis line commands as described in the book */

.axis text {
  font: Times;
  font-size: 12px;
  font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
